asgiref==3.8.1
astroid==2.15.8
black==24.8.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
dill==0.3.8
Django==5.1.1
django-stubs==5.0.4
django-stubs-ext==5.0.4
djangorestframework-stubs==3.15.1
djlint==1.35.2
EditorConfig==0.12.4
flake8==6.1.0
flake8-django==1.4
html-tag-names==0.1.2
html-void-elements==0.1.0
idna==3.10
isort==5.13.2
jsbeautifier==1.15.1
json5==0.9.25
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy==1.11.2
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pycodestyle==2.11.1
pyflakes==3.1.0
pylint==2.17.7
pyright==1.1.381
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
tomlkit==0.13.2
tqdm==4.66.5
types-PyYAML==6.0.12.20240917
types-requests==2.32.0.20240914
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0
