{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title%} Django {% endblock %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
    body {
      padding-top: 56px;
    }

    .footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    #divright {
      float: left;
      width: 46%;
      margin-right: 2%;
      height: 50px;
      background-color: rgb(130, 200, 142);
      text-align: right;
      margin-right: 25px;
    }
  </style>
</head>

<body>
  {% block navbar %}


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'home'%}">Meu Projeto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          <li>
            <a class="nav-link" href="#">Cadastrar Usuario</a>
          </li>
        </ul>
        <a class="btn btn-outline-light ms-auto" href="#">Entrar</a>
      </div>
    </div>
  </nav>

  {% endblock navbar %}
  <div class="container mt-4">
    {% block main %}
    {% load static %}
    {% endblock %}
  </div>
  {% block footer %}
  <footer class="bg-dark text-light">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-4">
          <ul class="nav flex-column">
            <li class="nav-link"><a href="{%url 'cadastrar_user'%}">Cadastrar User</a></li>
            <li class="nav-link"><a href="{%url 'cadastro_curso'%}">Cadastrar Curso</a></li>
            <li class="nav-link"><a href="{%url 'exibir_user'%}">Usuarios</a></li>
            <li class="nav-link"><a href="{%url 'exibir_curso'%}">Cursos</a></li>
          </ul>
        </div>
        <div class="col-8">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed necessitatibus id asperiores iste
            fugiat, praesentium obcaecati explicabo consequatur voluptatem eos earum blanditiis dolorem eaque veritatis
            libero? Magni, nam fugiat.
          </p>
          <ul class="nav">
            <li class="nav-link"><i class="fab fa-facebook fa-3x"></i></li>
            <li class="nav-link"><i class="fab fa-instagram fa-3x"></i></li>
            <li class="nav-link"><i class="fab fa-twitter fa-3x"></i></li>
            <li class="nav-link"><i class="fab fa-whatsapp fa-3x"></i></li>
          </ul>
          <ul class="nav">
            <li class="nav-link"><i href="{% url 'cadastrar_user'%}">Cadastrar Usuarios</i></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="text-center" style="background-color: #333; padding: 20px;">
      &copy 2018 Copyright: <a href="#">Lojas Virtuais</a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  {% endblock %}

</body>

</html>
