{% extends "base.html" %}
{% load static %}
{% block main %}
<h1>Novo usuário</h1>
<div class="card mb-3">
  <div class="card-body">

    <form action="{% url 'cadastrar_user' %}" method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_nome" class="form-label">Nome Completo</label>
        <input type="text" name="nome" id="id_nome" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        <input type="email" name="email" id="id_email" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="id_senha" class="form-label">Senha</label>
        <input type="password" name="senha" id="id_senha" class="form-control" required>
      </div>

      <input type="submit" value="Cadastrar" class="btn btn-success">
    </form>
  </div>
</div>
</div>
{% endblock main %}
