
{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="container py-5">
    <div class="row">
        {% for curso in dados %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <img src="{{ curso.imagem.url }}" class="card-img-top" alt="Imagem do curso">
                <div class="card-body">
                    <h5 class="card-title">{{ curso.nome }}</h5>
                    <p class="card-text">{{ curso.autor }}</p>
                    <p class="card-text">Preço: R$ {{ curso.preco }}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

